# App
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=invoice_db

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:pass/invoice_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Mail (SMTP / MailSender)
MAIL_HOST=smtp.mailersend.net
MAIL_PORT=587
MAIL_USER=MAIL_USER
MAIL_PASS=MAIL_PASS
MAIL_FROM=MAIL_FROM

# Sender info (for PDF)
SENDER_NAME="TEST TEST"
SENDER_COMPANY="Bakcend test task"
SENDER_ADDRESS="Grodna ap. 00"
SENDER_PHONE="+375 29 8888-88-88"
